use flake

# Accept linuxmobile's cachix
export NIX_CONFIG="extra-substituters = https://linuxmobile.cachix.org\nextra-trusted-public-keys = linuxmobile.cachix.org-1:2K7KEjzbd3U+qMQRte/DGqttosw8EGgGVvu8vKu8D6A="
