name: Build

on:
  workflow_call:
    secrets:
      CACHIX_AUTH_TOKEN:
        required: false

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        package:
          - bmm
          - dgop
          - multiviewer
          - omm
          - orchat
          - prs

    uses: ./.github/workflows/nix.yml
    with:
      command: nix build -L .#${{ matrix.package }}
    secrets: inherit
